<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Usuarios.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroCliente</servlet-name>
        <servlet-class>Usuarios.RegistroCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivarUsuario</servlet-name>
        <servlet-class>Activacion.ActivarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddService</servlet-name>
        <servlet-class>Servicios.AddService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteService</servlet-name>
        <servlet-class>Servicios.DeleteService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitCatalogo</servlet-name>
        <servlet-class>Catalogo.SubmitCatalogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>Catalogo.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditHeader</servlet-name>
        <servlet-class>Catalogo.EditHeader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Encabezado</servlet-name>
        <servlet-class>Catalogo.Encabezado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agregar</servlet-name>
        <servlet-class>Catalogo.Agregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>Catalogo.Edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consultar</servlet-name>
        <servlet-class>Usuarios.Consultar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerRequest</servlet-name>
        <servlet-class>chat.ServerRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPerfil</servlet-name>
        <servlet-class>Usuarios.VerPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuarios</servlet-name>
        <servlet-class>Usuarios.ModificarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Finally</servlet-name>
        <servlet-class>Usuarios.ModificarUsuariosFinally</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarUsuario</servlet-name>
        <servlet-class>Usuarios.ActualizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrar</servlet-name>
        <servlet-class>Unidades.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buscar</servlet-name>
        <servlet-class>Unidades.Buscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUnidades</servlet-name>
        <servlet-class>Unidades.EliminarUnidades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUnidad</servlet-name>
        <servlet-class>Unidades.RegistroUnidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>Usuarios.EliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarColaborador</servlet-name>
        <servlet-class>Usuarios.RegistrarColaborador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarUnidad</servlet-name>
        <servlet-class>Unidades.ActualizarUnidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUnidades</servlet-name>
        <servlet-class>Unidades.ModificarUnidades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarPassword</servlet-name>
        <servlet-class>Usuarios.CambiarPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarPass</servlet-name>
        <servlet-class>Activacion.RecuperarPass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroCliente</servlet-name>
        <url-pattern>/RegistroCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivarUsuario</servlet-name>
        <url-pattern>/ActivarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddService</servlet-name>
        <url-pattern>/AddService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteService</servlet-name>
        <url-pattern>/DeleteService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitCatalogo</servlet-name>
        <url-pattern>/SubmitCatalogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditHeader</servlet-name>
        <url-pattern>/EditHeader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Encabezado</servlet-name>
        <url-pattern>/Encabezado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agregar</servlet-name>
        <url-pattern>/Agregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/Edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consultar</servlet-name>
        <url-pattern>/Consultar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerRequest</servlet-name>
        <url-pattern>/ServerRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPerfil</servlet-name>
        <url-pattern>/VerPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuarios</servlet-name>
        <url-pattern>/ModificarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Finally</servlet-name>
        <url-pattern>/Finally</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarUsuario</servlet-name>
        <url-pattern>/ActualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrar</servlet-name>
        <url-pattern>/Registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buscar</servlet-name>
        <url-pattern>/Buscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUnidades</servlet-name>
        <url-pattern>/EliminarUnidades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUnidad</servlet-name>
        <url-pattern>/RegistroUnidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/EliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarColaborador</servlet-name>
        <url-pattern>/RegistrarColaborador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarUnidad</servlet-name>
        <url-pattern>/ActualizarUnidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUnidades</servlet-name>
        <url-pattern>/ModificarUnidades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarPassword</servlet-name>
        <url-pattern>/CambiarPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarPass</servlet-name>
        <url-pattern>/RecuperarPass</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>juj</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
